<aside class="fixed bottom-0 left-0 right-0 bg-sidebar border-t border-sidebar-border px-0 py-2 z-50 flex flex-row gap-0 justify-center md:sticky md:top-0 md:h-screen md:w-fit md:border-r md:px-6 md:py-8 md:overflow-y-auto md:flex md:flex-col md:gap-8">
  <div class="hidden md:block">
    <h2 class="text-2xl font-bold text-sidebar-foreground tracking-tight">ProtoJournal</h2>
  </div>
  <nav class="flex-1 md:flex md:w-full">
    <ul class="flex flex-row md:flex-col gap-2 md:justify-center md:gap-0 w-full">
      <li class="md:flex-1 md:w-full">
        <%= render(ButtonComponent.new(
          text: "Dashboard",
          color: :green,
          variant: :default,
          size: :md,
          href: "#",
        )) %>
      </li>

      <li class="md:flex-1 md:w-full">
        <%= render(ButtonComponent.new(
          text: "Projects",
          color: :blue,
          variant: :default,
          size: :md,
          href: "#",
        )) %>
      </li>

      <li class="md:flex-1 md:w-full">
        <%= render(ButtonComponent.new(
          text: "Photos",
          color: :blue,
          variant: :default,
          size: :md,
          href: "#",
        )) %>
      </li>

      <li class="md:flex-1 md:w-full">
        <%= render(ButtonComponent.new(
          text: "Journals",
          color: :blue,
          variant: :default,
          size: :md,
          href: "#",
        )) %>
      </li>

      <li class="md:flex-1 md:w-full">
        <%= render(ButtonComponent.new(
          text: "Profile",
          color: :blue,
          variant: :default,
          size: :md,
          href: "#",
        )) %>
      </li>
    </ul>
  </nav>
</aside>