<aside class="fixed bottom-0 left-0 right-0 bg-sidebar border-t border-sidebar-border px-0 py-2 z-50 flex flex-row gap-0 justify-center md:sticky md:top-0 md:h-screen md:w-fit md:border-r md:px-6 md:py-8 md:overflow-y-auto md:flex md:flex-col md:gap-8">
  <div class="hidden md:block">
    <h2 class="text-2xl font-bold text-sidebar-foreground tracking-tight">ProtoJournal</h2>
  </div>
  <nav class="flex-1 md:flex md:w-full">
    <ul class="flex flex-row md:flex-col gap-2 w-full justify-center md:justify-start">
      <li class="md:w-full">
        <%= render(ButtonComponent.new(
          text: "Dashboard",
          color: controller_name == 'home' ? :blue : :gray,
          variant: :default,
          size: :md,
          href: root_path,
          icon: "house",
          mobile_icon_only: true,
        )) %>
      </li>

      <li class="md:w-full">
        <%= render(ButtonComponent.new(
          text: "Projects",
          color: controller_name == "projects" ? :blue : :gray,
          variant: :default,
          size: :md,
          href: projects_path,
          icon: "folder-open",
          mobile_icon_only: true,
        )) %>
      </li>

      <li class="md:w-full">
        <%= render(ButtonComponent.new(
          text: "Photos",
          color: controller_name == "photos" ? :blue : :gray,
          variant: :default,
          size: :md,
          href: photos_path,
          icon: "camera",
          mobile_icon_only: true,
        )) %>
      </li>

      <li class="md:w-full">
        <%= render(ButtonComponent.new(
          text: "Journals",
          color: :gray,
          variant: :default,
          size: :md,
          href: "#",
          icon: "notebook",
          mobile_icon_only: true,
        )) %>
      </li>

      <li class="md:w-full">
        <%= render(ButtonComponent.new(
          text: "Profile",
          color: :gray,
          variant: :default,
          size: :md,
          href: "#",
          icon: "user",
          mobile_icon_only: true,
        )) %>
      </li>
    </ul>
  </nav>
</aside>